.Home {
    flex-direction: column;
}

.Navbar {
    flex-direction: column;
    background-color: lightgrey;
}

.Navbar ul {
    list-style: none;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
}

.Navbar ul li {
    padding: 10px;
}

.Navbar a {
    color: #555;
    text-decoration: none;
    font-size: 14px;
}

.Navbar a:hover {
    color: #ccc;
    text-decoration: none;
}