.container {
    position: relative;
}

.slideshowContainer {
    display: flex;
    flex-wrap: nowrap;
}

.slide {
    min-width: 100%;
    overflow: hidden;
    transition: .3s ease all;
    z-index: 10;
    max-height: 600px;
    position: relative;
}

.controles {
    position: absolute;
    top: 0;
    z-index: 20;
    width: 53%;
    height: 100%;
    pointer-events: none;
    margin-left: 450px;
}

.botonDerecho {
    pointer-events: all;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    width: 50px;
    height: 100%;
    text-align: center;
    position: absolute;
    transition: .3s ease all;
    right: 0;
}

.botonIzquierdo {
    pointer-events: all;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    width: 50px;
    height: 100%;
    text-align: center;
    position: absolute;
    transition: .3s ease all;
    left: 0;
}